[submodule "unicorne-hybrid-mx-3x5-reversible/tb2086-kicad"]
	path = uniCorne-3x5/hybrid-mx-reversible/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "unicorne-cherry-mx-3x5-reversible/tb2086-kicad"]
	path = uniCorne-3x5/cherry-mx-reversible/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "unicorne-chocolate-3x5-reversible/tb2086-kicad"]
	path = uniCorne-3x5/chocolate-reversible/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "uniCorne-3x6/cherry-mx-reversible/tb2086-kicad"]
	path = uniCorne-3x6/cherry-mx-reversible/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
[submodule "uniCorne-3x6/chocolate-reversible/tb2086-kicad"]
	path = uniCorne-3x6/chocolate-reversible/tb2086-kicad
	url = git@github.com:Thunderbird2086/tb2086-kicad.git
